.block1 h2{
    background-color: white;
    color: #d63031;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.block1{
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 0px;
}

.block1 marquee{
    color: #d63031;
    display: inline-block;
    background-color: rgb(255, 255, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
}

.info{
    align-items: center;
    text-align: center;
    font-size: larger;
    padding: 0 80px;
}



.heading{
    color: #d63031;
    font-size: larger;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container_i{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px;
        
    }

    .item1{
        padding: 10px;
        text-align: center;
        background-color: gray;
        color: white;
    }

    .item2{
        padding: 10px;
        text-align: center;
        background-color: #d63031;
        color: white;
    }
}

@media screen and (min-width:600px) and (max-width:992px){
    .container_i{
        display: flex;
        flex-direction: row;
        align-items:center;
        padding: 10px;
        
    }

    .item1{
        padding: 10px;
        text-align: center;
        background-color: gray;
        color: white;
    }

    .item2{
        padding: 10px;
        text-align: center;
        background-color: #d63031;
        color: white;
    }
}

@media screen and (min-width:992px) and (max-width:1700px){
    .container_i{
        display: flex;
        flex-direction: row;
        align-items:center;
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 10px;
        
    }

    .item1{
        padding: 10px;
        text-align: center;
        background-color: gray;
        color: white;
        margin-left:40px ;
    }

    .item2{
        padding: 10px;
        text-align: center;
        background-color: #d63031;
        color: white;
        margin-right: 40px;
    }   
}


@media screen and (max-width: 600px){
    .container_abt{
        margin: 0px 20px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items:center;
        font-size: medium;
    }

    .item_abt1{
        border-radius: 15px 15px 0 0;
        width: 100%;
    }

    .item_abt2{
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width:600px) and (max-width:992px){
    .container_abt{
        border: 2px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items:center;
        font-size: large;
        margin: 10px;
    }

    .item_abt1{
        border-radius: 15px 0 0 15px;
        height: 100%;
    }

    .item_abt2{
        text-align: center;
        padding: 10px;
    }
}
@media screen and (min-width:992px) and (max-width:1700px){
    .container_abt{
        border: 3px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items:center;
        font-size: larger;
        margin: 10px;
    }

    .item_abt1{
        padding-top: 1.5px;
        border-radius: 15px 0 0 15px;
        height: 100%;
        background-color: rgb(0, 0, 0); ;
    }

    .item_abt2{
        text-align: center;
        padding: 10px;
    }
}