*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins", sans-serif
}
body{
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 300px;
  background: rgba(175, 17, 17, 0.822);
}
.wrapper{
  width: 600px;
  height: 800px;
  background: rgb(233, 229, 229);
  color: rgb(58, 22, 42);
  font-size: 15px;

}
.wrapper h1{
  font-size: 50px;
  text-align: center;
}
.wrapper .input-box{
  width: 100%;
  height: 100px;
  
}
.input-box input{
  width: 50%;
  height: 50%;
  background: rgb(226, 221, 221);
  border: 5px rgb(8, 8, 8);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  
 
  border-radius: 40px;
}
.input-box input::placeholder{
  color: rgb(16, 17, 17);
  font: 100;
}
.wrapper .btn{
  width: 60%;
  height: 50px;
  background: rgb(245, 3, 3);
  border-radius: 50px;
  box-shadow: 10px ;
  cursor: pointer;
  font-size: 20px;
  
}

